<div class="new_school_year_form">
	<div class="form_title">
		<h1>Create a school year</h1>
		<p>Create a school year to fill quarters, weeks and timetable.</p>
	</div>

	<form [formGroup]="schoolYearForm" (ngSubmit)="Create()">
		<mat-form-field>
			<mat-label>Start date</mat-label>
			<input
				formControlName="start_date"
				matInput
				[matDatepicker]="start_date"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="start_date"
			></mat-datepicker-toggle>
			<mat-datepicker #start_date></mat-datepicker>
			<mat-error>Start date is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>End date</mat-label>
			<input formControlName="end_date" matInput [matDatepicker]="end_date" />
			<mat-datepicker-toggle
				matIconSuffix
				[for]="end_date"
			></mat-datepicker-toggle>
			<mat-datepicker #end_date></mat-datepicker>
			<mat-error>End date is required</mat-error>
		</mat-form-field>

		<mat-checkbox formControlName="active">Active</mat-checkbox>

		<button
			type="submit"
			[disabled]="schoolYearForm.invalid"
			mat-stroked-button
		>
			Create
		</button>
	</form>
</div>
