<div class="new_quarter_form">
	<div class="form_title">
		<h1>Create a quarter</h1>
		<p>Create a quarter to fill weeks, timetable and manage quarterly marks.</p>
	</div>

	<form [formGroup]="quarterForm" (ngSubmit)="Create()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>School year</mat-label>
			<mat-select formControlName="school_year_id">
				<mat-option [value]="null">None</mat-option>
				<mat-option
					*ngFor="let school_year of school_years"
					[value]="school_year.id"
				>
					{{ school_year.id }}.
					{{ school_year.start_date | date : "mediumDate" }} -
					{{ school_year.end_date | date : "mediumDate" }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Start date</mat-label>
			<input
				formControlName="start_date"
				matInput
				[matDatepicker]="start_date"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="start_date"
			></mat-datepicker-toggle>
			<mat-datepicker #start_date></mat-datepicker>
			<mat-error>Start date is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>End date</mat-label>
			<input formControlName="end_date" matInput [matDatepicker]="end_date" />
			<mat-datepicker-toggle
				matIconSuffix
				[for]="end_date"
			></mat-datepicker-toggle>
			<mat-datepicker #end_date></mat-datepicker>
			<mat-error>End date is required</mat-error>
		</mat-form-field>

		<span class="descriptive_form_field_container">
			<mat-form-field>
				<mat-label>Indexing start date</mat-label>
				<input
					formControlName="indexing_start"
					matInput
					[matDatepicker]="indexing_start"
				/>
				<mat-datepicker-toggle
					matIconSuffix
					[for]="indexing_start"
				></mat-datepicker-toggle>
				<mat-datepicker #indexing_start></mat-datepicker>
				<mat-error>Indexing start date is required</mat-error>
			</mat-form-field>
			<mat-icon matTooltip="This value is used to determine current quarter"
				>info</mat-icon
			>
		</span>

		<span class="descriptive_form_field_container">
			<mat-form-field>
				<mat-label>Indexing end date</mat-label>
				<input
					formControlName="indexing_end"
					matInput
					[matDatepicker]="indexing_end"
				/>
				<mat-datepicker-toggle
					matIconSuffix
					[for]="indexing_end"
				></mat-datepicker-toggle>
				<mat-datepicker #indexing_end></mat-datepicker>
				<mat-error>Indexing end date is required</mat-error>
			</mat-form-field>
			<mat-icon matTooltip="This value is used to determine current quarter"
				>info</mat-icon
			>
		</span>

		<mat-error *ngIf="creationError">{{ creationError }}</mat-error>

		<button type="submit" [disabled]="quarterForm.invalid" mat-stroked-button>
			Create
		</button>
	</form>
</div>
