.new_quarter_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.75rem;
	padding: 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.mat-mdc-form-field-error {
			text-align: center;
		}
	}

	.descriptive_form_field_container {
		display: flex;
		flex-direction: row;
		gap: 0.75rem;

		mat-icon {
			margin: 16px 0;
			color: rgba(0, 0, 0, 0.7);
		}
	}
}
