.forms_container {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	h1 {
		text-align: center;
	}

	.grade_forms_container {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		.grade_forms {
			display: flex;
			flex-direction: row;
			column-gap: 1rem;
			flex-wrap: wrap;
		}
	}
}
