<div *ngIf="forms" class="forms_container">
	<h1>Forms:</h1>
	<div
		*ngFor="let grade of forms.data | keyvalue"
		class="grade_forms_container"
	>
		<h3>{{ grade.key }} grade:</h3>
		<div class="grade_forms">
			<a
				*ngFor="let form of grade.value"
				[routerLink]="['/school', 'form', form.id]"
				mat-stroked-button
			>
				{{ form.grade }} &quot;{{ form.letter }}&quot;
			</a>
		</div>
	</div>
</div>
