<div class="popover_entry_container">
	<button
		type="button"
		class="popover_toggle"
		#tippy_inst="tippy"
		[tp]="popover_template"
		[tpData]="{ tippy: tippy_inst, data: popover_data }"
		[tpPopperOptions]="{ strategy: 'fixed' }"
		[tpIsLazy]="true"
		[title]="label"
		[attr.aria-label]="label"
		(tpVisible)="VisibilityChanged($event)"
	>
		<ng-container
			[ngTemplateOutlet]="toggle_content"
			[ngTemplateOutletContext]="toggle_content_context"
		></ng-container>
	</button>
</div>
