:host {
	display: block;
	height: 24px;
	width: 100%;
}

.popover_toggle {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--app-text);
}

.popover_entry_container {
	display: flex;
	width: 100%;
	height: 100%;
}
