.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  ul {
    text-align: left;
  }
}

.user_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.75rem;

  li {
    display: flex;
    flex-direction: column;
    row-gap: 0.125rem;
    align-items: flex-start;

    p {
      margin: 0;
    }

    .header {
      font-weight: 500;
    }
  }
}