<div class="profile_container" *ngIf="usersService.User | async as user">
	<h2>Hello, this is your TD profile!</h2>
	<ul class="user_info">
		<li>
			<p class="header">Id:</p>
			<p class="value">{{ user.id }}</p>
		</li>
		<li>
			<p class="header">Username:</p>
			<p class="value">{{ user.username }}</p>
		</li>
		<li>
			<p class="header">First name:</p>
			<p class="value">{{ user.first_name }}</p>
		</li>
		<li>
			<p class="header">Last name:</p>
			<p class="value">{{ user.last_name }}</p>
		</li>
	</ul>
	<h2>Your sessions:</h2>
	<td-items-list
		*ngIf="sessions"
		[dataSource]="sessions"
		[itemProps]="sessions_mapping"
	>
		<p *tdItemTitle="let session">
			{{ session.device_info.client || "Unknown client" }}
		</p>
		<p *tdItemDescription="let session">
			{{ FormatSessionDescription(session) }}
		</p>
		<mat-action-row *tdItemContent="let session">
			<button mat-stroked-button (click)="LogoutSession(session.id)">
				Logout
			</button>
		</mat-action-row>
	</td-items-list>
</div>
