<h1 style="text-align: center">Hello there, stranger!</h1>
<p>
	You've found an easter egg left by the developers. We hope you're enjoying
	your stay. If not, don't hesitate to reach out to us and share your
	feedback!
</p>
