<div class="popover_container">
	<p>
		<b>{{ student?.user | userDisplayName }}, </b>
		<em>{{ TD.GetLessonDate(timetable_entry) }}</em>
	</p>

	<h4 style="margin: 0">Marks:</h4>
	<div class="diary_entries_container">
		<span class="entry_container">
			<div class="mark_selector_container">
				<mat-button-toggle-group
					*ngFor="let mark_control of marksArray?.controls"
					[formControl]="mark_control"
					(valueChange)="TriggerChanges()"
				>
					<mat-button-toggle [value]="null">X</mat-button-toggle>
					<mat-button-toggle *ngFor="let m of MARKS" [value]="m">
						{{ m }}
					</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
		</span>

		<button mat-stroked-button (click)="AddMarkField()">
			<mat-icon>add</mat-icon>
		</button>
	</div>

	<mat-form-field *ngIf="comment" style="height: 56px">
		<mat-label>Comment</mat-label>
		<input
			matInput
			[formControl]="comment"
			(focusin)="TriggerChanges(false)"
			(focusout)="TriggerChanges(false)"
		/>
	</mat-form-field>

	<button type="button" mat-stroked-button (click)="Hide()">OK</button>
</div>
