.popover_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.diary_entries_container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	.entry_container {
		display: flex;
		flex-direction: column;
		gap: 0.375rem;

		.mark_selector_container {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			overflow-x: scroll;

			mat-button-toggle-group {
				width: fit-content;
			}
		}
	}
}
