<div class="quarter_weeks_container">
	<h2>Quarter weeks:</h2>

	<mat-form-field>
		<mat-label>Quarter</mat-label>
		<mat-select
			[formControl]="quarter_selector"
			(selectionChange)="OnQuarterSelected($event)"
		>
			<mat-option>None</mat-option>
			<mat-option *ngFor="let quarter of quarters" [value]="quarter.id">
				{{ quarter.id }}. {{ quarter.start_date | date : "mediumDate" }} -
				{{ quarter.end_date | date : "mediumDate" }}
			</mat-option>
		</mat-select>
		<mat-hint>Select quarter to filter weeks by</mat-hint>
	</mat-form-field>

	<td-items-list
		*ngIf="weeksDataSource"
		[dataSource]="weeksDataSource"
		[itemProps]="week_columns"
	>
		<p *tdItemTitle="let week">
			{{ week.start_date | date : "dd.MM" }} -
			{{ week.end_date | date : "dd.MM" }}
		</p>
		<p *tdItemDescription="let week">
			{{ week.start_date | date : "shortDate" }} -
			{{ week.end_date | date : "shortDate" }}
		</p>
		<mat-action-row *tdItemContent="let week">
			<button mat-stroked-button (click)="DeleteWeek(week.id)">Delete</button>
		</mat-action-row>
	</td-items-list>

	<!--	<a-->
	<!--		class="add_quarter_week"-->
	<!--		mat-stroked-button-->
	<!--		routerLink="../../new/quarter-week"-->
	<!--	>-->
	<!--		<mat-icon>add</mat-icon>-->
	<!--	</a>-->
</div>
