<div *ngIf="quarters" class="container">
	<td-item-select-autocomplete
		*ngIf="lessonSelectConfig"
		[config]="lessonSelectConfig"
		(itemChosen)="lesson = $event"
		style="height: 56px"
	></td-item-select-autocomplete>

	<mat-tab-group
		mat-stretch-tabs="false"
		mat-align-tabs="start"
		animationDuration="0"
		preserveContent
	>
		<mat-tab *ngFor="let quarter of quarters" [label]="quarter.name">
			<ng-template matTabContent>
				<app-form-quarter-diary
					*ngIf="lesson"
					[form]="form"
					[quarter]="quarter"
					[form_lesson]="lesson"
				></app-form-quarter-diary>
			</ng-template>
		</mat-tab>

		<mat-tab label="Year">
			<ng-template matTabContent>
				<app-form-year-diary
					*ngIf="lesson"
					[quarters]="quarters"
					[form]="form"
					[form_lesson]="lesson"
				></app-form-year-diary>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
