<!-- TODO: Highly work-in-progress, loads of work to be done. -->
<div *ngIf="timetableResponse as r" class="container" [formGroup]="formGroup">
	<div class="table_container" *tdIf="r.timetable">
		<table>
			<!-- Header row -->
			<thead>
				<tr>
					<th>Student</th>
					<th *ngFor="let entry of r.timetable">
						{{ GetLessonDate(entry) | date : "dd.LL" }}
					</th>
				</tr>
			</thead>

			<!-- Generated student rows -->
			<tr *ngFor="let student of students; let i = index">
				<td>
					<b>{{ i + 1 }}.</b> {{ student.user | userDisplayName }}
				</td>
				<td *ngFor="let entry of r.timetable">
					<app-form-diary-popover-toggle
						[popover_template]="diary_popover"
						[popover_data]="{ timetable_entry: entry, student: student }"
						[label]="TD.GetAriaLabelForDiaryPopover(entry, student)"
						[toggle_content]="content"
						(visibilityChanged)="changeRef.detectChanges()"
					>
						<ng-template #content>
							{{ GetMarks(entry, student) }}
						</ng-template>
					</app-form-diary-popover-toggle>
				</td>
			</tr>

			<!-- Timetable entry options row -->
			<tr>
				<td>Lesson options</td>
				<td *ngFor="let entry of r.timetable">
					<app-form-diary-popover-toggle
						[popover_template]="timetable_popover"
						[popover_data]="{ timetable_entry: entry }"
						[label]="TD.GetAriaLabelForTimetablePopover(entry)"
						(visibilityChanged)="changeRef.detectChanges()"
					></app-form-diary-popover-toggle>
				</td>
			</tr>

			<!-- Footer row -->
			<tfoot>
				<tr>
					<th>Student</th>
					<th *ngFor="let entry of r.timetable">
						{{ GetLessonDate(entry) | date : "dd.LL" }}
					</th>
				</tr>
			</tfoot>
		</table>
	</div>

	<button
		mat-stroked-button
		[disabled]="formGroup.invalid"
		(click)="SubmitTimetableAndDiary()"
	>
		Submit
	</button>

	<!---->
	<!-- Custom templates -->
	<!---->

	<!-- Diary popover, to be rendered by Helipopper -->
	<ng-template #diary_popover let-config="data">
		<app-diary-popover
			[timetable_entry]="config.data.timetable_entry"
			[student]="config.data.student"
			[tippy]="config.tippy"
			(changes)="changeRef.detectChanges()"
		></app-diary-popover>
	</ng-template>

	<!-- Timetable options popover, to be rendered by Helipopper -->
	<ng-template #timetable_popover let-config="data">
		<app-timetable-popover
			[timetable_entry]="config.data.timetable_entry"
			[tippy]="config.tippy"
		></app-timetable-popover>
	</ng-template>
</div>
