<div>
	<h2>Welcome to TvoyDnevnik - new era of eDiary solutions!</h2>
	<p>
		The service is still in early development, so hold tight and explore
		already available features below:
	</p>
	<ul>
		<li>
			<a mat-stroked-button routerLink="/timetable">Timetable</a>
		</li>
		<li>
			<a mat-stroked-button routerLink="/school">School dashboard</a>
		</li>
	</ul>
</div>
