<div class="login_form">
	<div class="form_title">
		<h1>Login to TvoyDnevnik</h1>
		<p>
			To get access to timetables, diary and school insights, login into
			TvoyDnevnik with your user credentials.
		</p>
	</div>

	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<mat-form-field>
			<mat-label>Identifier</mat-label>
			<input formControlName="identifier" autocomplete="username" matInput />
			<mat-error>Identifier is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				[type]="showPassword ? 'text' : 'password'"
				formControlName="password"
				autocomplete="current-password"
				matInput
			/>
			<button
				type="button"
				mat-icon-button
				matSuffix
				(click)="showPassword = !showPassword"
				aria-label="Change password visibility"
				[attr.aria-pressed]="showPassword"
			>
				<mat-icon>{{
					showPassword ? "visibility" : "visibility_off"
				}}</mat-icon>
			</button>
			<mat-error>Password is required</mat-error>
		</mat-form-field>

		<mat-error *ngIf="loginError">{{ loginError }}</mat-error>

		<button type="submit" [disabled]="loginForm.invalid" mat-stroked-button>
			Login
		</button>
		<p style="font-size: 0.925rem">
			Don't have an account yet?
			<a routerLink="/register" style="color: rebeccapurple; font-weight: 500"
				>Register!</a
			>
		</p>
	</form>
</div>
