.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .mat-mdc-form-field-error {
      text-align: center;
    }
  }

  .form_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 48ch;
    gap: 0.5rem;

    * {
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

