<header class="mat-app-background">
	<nav>
		<a class="td_home_link" routerLink="/home">TvoyDnevnik</a>
		<a class="td_home_link" id="xs" routerLink="/home">TD</a>

		<button mat-icon-button (click)="menu.ToggleMenu()">
			<mat-icon>menu</mat-icon>
		</button>
	</nav>
</header>

<app-menu #menu [layout]="menuLayout"></app-menu>

<div class="app_content">
	<div class="component_wrapper td-app-background">
		<router-outlet></router-outlet>
	</div>
</div>

<footer>
	<p style="font-weight: 500">&copy; 2022 - 2023 TvoyDnevnik</p>
	<span style="opacity: 0.65">
		&lt;/&gt; with
		<p #hearts>&hearts;</p>
		by scriptSQD
	</span>
</footer>
