:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
}

header {
	position: sticky;
	top: 0;
	padding: 0.75rem;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	z-index: 50;

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.td_home_link {
			font-weight: 700;
			font-size: 1.75rem;
		}

		#xs {
			display: none;
		}

		@media screen and (max-width: 320px) {
			.td_home_link {
				display: none;
			}

			#xs {
				display: block;
			}
		}
	}
}

.app_content {
	display: flex;
	flex: 1;
}

.component_wrapper {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;

	@media screen and (min-width: 1024px) {
		padding-inline: 14%;
	}

	/* Apply this base styling to every component inside the wrapper */
	:host ::ng-deep & > :nth-child(2) {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1;
	}
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0.25rem;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	margin-inline: 2rem;

	p,
	span {
		margin: 2px;
	}

	span {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.25rem;
	}
}
