<div class="edit_lesson_container">
	<div class="form_title">
		<h1>Edit lesson</h1>
		<p>Edit a lesson to change the name or assigned teachers.</p>
	</div>

	<form [formGroup]="lessonEditForm" (ngSubmit)="EditLesson()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input type="text" matInput formControlName="name" />
		</mat-form-field>

		<button
			type="submit"
			[disabled]="lessonEditForm.invalid || !lessonEditForm.dirty"
			mat-stroked-button
		>
			Edit
		</button>
	</form>
</div>
