<div *ngIf="form" class="form_container">
	<div class="image">
		<!-- should extend forms to have pictures -->
		<img
			ngSrc="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
			fill
			alt="Form's latest picture"
			priority
		/>
	</div>
	<div class="general">
		<h2>{{ form.grade }} &quot;{{ form.letter }}&quot;</h2>

		<mat-divider></mat-divider>

		<span *ngIf="form.students" class="general_info_row">
			<p class="title">{{ form.students.length }} students</p>
		</span>

		<span *ngIf="form.master" class="general_info_row">
			<p class="title">Master:</p>
			<a class="content" [routerLink]="['../../teacher', form.master.id]">
				{{ form.master.user | userDisplayName }}
			</a>
		</span>

		<a
			*ngIf="
				(authService.ValidateRoles(TD.Types.UserRole.TEACHER) | async)
					?.has_access
			"
			mat-stroked-button
			[routerLink]="['../../timetable-wizard', form.id]"
		>
			Timetable wizard
		</a>
	</div>
	<div class="details">
		<mat-tab-group
			mat-stretch-tabs="false"
			mat-align-tabs="start"
			animationDuration="0"
			preserveContent
		>
			<mat-tab
				*ngIf="
					(authService.ValidateRoles(TD.Types.UserRole.TEACHER) | async)
						?.has_access
				"
				label="Diary"
			>
				<ng-template matTabContent>
					<app-form-diary-tab [form]="form"></app-form-diary-tab>
				</ng-template>
			</mat-tab>
			<mat-tab label="Students">
				<ng-template matTabContent>
					<app-form-students-tab [form]="form"></app-form-students-tab>
				</ng-template>
			</mat-tab>
			<mat-tab label="Timetable">
				<ng-template matTabContent>
					<app-form-timetable-tab [form]="form"></app-form-timetable-tab>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
