.diary_container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	gap: 1rem;
}

mat-paginator {
	width: fit-content;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > h1,
	& > p {
		margin: 0 0.5rem;
		text-align: center;
	}
}
