<div *ngIf="diary" class="diary_container">
	<div class="title">
		<h1>Diary:</h1>
		<p>{{ diary.start_date | date }} - {{ diary.end_date | date }}</p>

		<mat-paginator
			*ngIf="pagination_data"
			[length]="pagination_data.last_week + 1"
			[pageIndex]="pagination_data.current_week"
			[pageSize]="1"
			[hidePageSize]="true"
			(page)="FetchDiary($event)"
		></mat-paginator>
	</div>

	<td-timetable
		[timetable]="diary"
		[displayColumns]="['index', 'lesson', 'homework', 'marks']"
		[displaySubgroups]="false"
		[displayTitle]="false"
	>
	</td-timetable>
</div>
