<div class="popover_container" *ngIf="formGroup" [formGroup]="formGroup">
	<p>
		<b>{{ TD.UserFullNameDisplay(student?.user) }}, </b>
		<em>{{ quarter?.name }}</em>
	</p>

	<div class="mark_selector_container">
		<mat-button-toggle-group
			formControlName="mark"
			(valueChange)="TriggerChanges()"
		>
			<mat-button-toggle [value]="null">X</mat-button-toggle>
			<mat-button-toggle *ngFor="let m of MARKS" [value]="m">
				{{ m }}
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<button mat-stroked-button (click)="Hide()">OK</button>
</div>
