<div class="new_lesson_form">
	<div class="form_title">
		<h1>Create a lesson</h1>
		<p>
			Create a lesson to assign teachers to and use in timetables and diary.
		</p>
	</div>

	<form [formGroup]="lessonForm" (ngSubmit)="Create()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input formControlName="name" matInput type="text" />
		</mat-form-field>

		<td-stay-on-page></td-stay-on-page>

		<button type="submit" [disabled]="lessonForm.invalid" mat-stroked-button>
			Create
		</button>
	</form>
</div>
