.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.75rem;
}

.table_container {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	overflow: auto;
	white-space: nowrap;
	border: solid 1px var(--border-color);
}

table {
	height: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;

	td,
	th {
		padding: 0.5rem;
		border-bottom: solid 1px var(--border-color);
	}

	// sticky first column
	tr {
		th,
		td {
			&:first-child {
				position: sticky;
				left: 0;
				background-color: var(--app-background);
			}
		}
	}

	tr > td:first-child {
		border-bottom: solid 1px var(--border-color);
	}

	th:not(:last-child) {
		border-right: solid 1px var(--border-color);
	}

	// Student column
	tr > td,
	tr > th {
		&:first-child {
			word-break: keep-all;
			white-space: nowrap;
			width: 100%;
			text-align: right;
			border-right: solid 1px var(--border-color);
		}
	}

	tr:not(:last-child) {
		border-bottom: solid 1px var(--border-color);
	}

	td:not(:last-child) {
		border-right: solid 1px var(--border-color);
	}
}
