<div class="container">
	<div class="table_container">
		<table>
			<!-- Header row -->
			<thead>
				<tr>
					<th>Student</th>
					<th *ngFor="let quarter of quarters">
						{{ quarter.start_date | date : "MMM d" }} -
						<br />
						{{ quarter.end_date | date : "MMM d" }}
					</th>
					<th>Avg.</th>
					<th>Year</th>
				</tr>
			</thead>

			<!-- Generated rows -->
			<tr *ngFor="let student of students; let i = index">
				<td>{{ i + 1 }}. {{ student.user | userDisplayName }}</td>
				<td *ngFor="let quarter of quarters">
					<app-form-diary-popover-toggle
						[popover_template]="quarterly_mark"
						[popover_data]="{
							formGroup: GetQuarterMarkForm(quarter, student),
							student,
							quarter
						}"
						[toggle_content]="content"
						(visibilityChanged)="changeRef.detectChanges()"
					>
						<ng-template #content>
							{{ GetQuarterMark(quarter, student) }}
						</ng-template>
					</app-form-diary-popover-toggle>
				</td>
				<td>{{ GetAvgMark(student) }}</td>
				<td>
					<app-form-diary-popover-toggle
						[popover_template]="yearly_mark"
						[popover_data]="{
							formGroup: GetYearMarkForm(schoolYear, student),
							student
						}"
						[toggle_content]="content"
						(visibilityChanged)="changeRef.detectChanges()"
					>
						<ng-template #content>{{ GetYearMark(student) }}</ng-template>
					</app-form-diary-popover-toggle>
				</td>
			</tr>

			<!-- Footer row -->
			<tfoot>
				<tr>
					<th>Student</th>
					<th *ngFor="let quarter of quarters">
						{{ quarter.start_date | date : "MMM d" }} -
						<br />
						{{ quarter.end_date | date : "MMM d" }}
					</th>
					<th>Avg.</th>
					<th>Year</th>
				</tr>
			</tfoot>
		</table>
	</div>

	<button
		mat-stroked-button
		[disabled]="!ValidateMarks()"
		(click)="PostFinalMarks()"
	>
		Submit
	</button>

	<!---->
	<!-- Custom templates -->
	<!---->

	<!-- Mark popover -->
	<ng-template #quarterly_mark let-data="data">
		<app-quarterly-mark-popover
			[formGroup]="data.data.formGroup"
			[student]="data.data.student"
			[quarter]="data.data.quarter"
			[tippy]="data.tippy"
		></app-quarterly-mark-popover>
	</ng-template>

	<ng-template #yearly_mark let-data="data">
		<app-yearly-mark-popover
			[formGroup]="data.data.formGroup"
			[student]="data.data.student"
			[tippy]="data.tippy"
		></app-yearly-mark-popover>
	</ng-template>
</div>
