<mat-tab-group preserveContent animationDuration="0">
	<mat-tab label="Basic school year">
		<app-basic-school-year></app-basic-school-year>
	</mat-tab>
	<mat-tab label="School year wizard">
		<app-school-year-wizard></app-school-year-wizard>
	</mat-tab>
</mat-tab-group>
