<div class="userbase_container">
	<h2>Users:</h2>

	<td-items-list
		*ngIf="userbase"
		[dataSource]="userbase"
		[itemProps]="userbase_columns"
	>
		<p *tdItemTitle="let user">
			{{ user.id }}. {{ user.last_name }} {{ user.first_name }}
			{{ user.patronymic || "" }}
		</p>
		<p *tdItemDescription="let user">
			{{ user.username ? user.username : "" }}
		</p>
		<div *tdItemContent="let user">
			<ng-container *ngIf="user.invitations?.length">
				<p style="font-weight: 500; margin: 0.125rem 0">
					To complete registration, use one of the following invitational codes:
				</p>
				<ul style="list-style: disc; margin: 0.25rem 0">
					<li *ngFor="let invitation of user.invitations">
						{{ invitation.code }}
					</li>
				</ul>
			</ng-container>
		</div>
		<mat-action-row *tdItemContent="let user">
			<ng-container *ngIf="!user.is_registered && !user.invitations?.length">
				<button mat-stroked-button (click)="Invite(user.id)">
					Invite (generate code)
				</button>
			</ng-container>
			<a mat-stroked-button [routerLink]="['../../edit/user', user.id]">
				Edit
			</a>
			<button mat-stroked-button (click)="DeleteUser(user.id)">Remove</button>
		</mat-action-row>
	</td-items-list>

	<a routerLink="../../new/user" mat-stroked-button class="add_user">
		<mat-icon>add</mat-icon>
	</a>
</div>
