<div class="edit_school_year_container">
	<div class="form_title">
		<h1>Edit school year</h1>
		<p>
			Edit a school year to change the start date, end date or active status.
		</p>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="EditSchoolYear()">
		<mat-form-field>
			<mat-label>Start date</mat-label>
			<input
				formControlName="start_date"
				matInput
				[matDatepicker]="start_date"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="start_date"
			></mat-datepicker-toggle>
			<mat-datepicker #start_date></mat-datepicker>
		</mat-form-field>

		<mat-form-field>
			<mat-label>End date</mat-label>
			<input formControlName="end_date" matInput [matDatepicker]="end_date" />
			<mat-datepicker-toggle
				matIconSuffix
				[for]="end_date"
			></mat-datepicker-toggle>
			<mat-datepicker #end_date></mat-datepicker>
		</mat-form-field>

		<mat-checkbox formControlName="active"> Active</mat-checkbox>

		<button
			type="submit"
			[disabled]="formGroup.invalid || !formGroup.dirty"
			mat-stroked-button
		>
			Edit
		</button>
	</form>
</div>
