<div class="info_container" *ngIf="info">
	<h2>Welcome to {{ info.name }}!</h2>

	<div class="info">
		<div class="school-gallery">
			<img
				class="school-photo"
				ngSrc="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/1b/0f/b6/irving-k-barber-learning.jpg?w=1200&h=-1&s=1"
				fill
				priority
				alt="School's photo"
			/>
		</div>

		<div class="info_rows_container">
			<span class="info_row" *ngIf="info.address">
				<p>We are located at the following address:</p>
				{{ info.address }}
			</span>
			<span class="info_row" *ngIf="info.headmaster">
				<p>Current headmaster is:</p>
				<!-- Link is currently broken... -->
				<!--			<a [routerLink]="['../teacher', info.headmaster.id]">{{ info.headmaster.user | userDisplayName }}</a>-->
				<a>{{ info.headmaster.user | userDisplayName }}</a>
			</span>
			<div class="info_rows_container" *ngIf="info.contacts as contacts">
				<p>Feel free to contact us at:</p>
				<ul style="margin: 0 1rem">
					<li *ngIf="contacts.email as email">
						<span class="info_row">
							<p>Email:</p>
							<a href="mailto:{{ email }}">{{ email }}</a>
						</span>
					</li>
					<li *ngIf="contacts.phone as phone">
						<span class="info_rows_container">
							<span class="info_row">
								<p>Phone:</p>
								<a href="tel:{{ phone }}">{{ phone }}</a>
							</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
