:host {
	padding: 1rem;
}

ul {
	list-style: disc;
	padding-left: unset;
}

.info_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

.info {
	height: fit-content;
	width: fit-content;
	display: grid;
	gap: 1rem;
	grid-template-areas: "image info";
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

	@media screen and (max-width: 640px) {
		grid-template-areas:
			"image"
			"info";
	}
}

.school-gallery {
	max-width: 100%;
	width: 100%;
	position: relative;
	display: flex;
	grid-area: image;
	grid-column: 1;
	aspect-ratio: auto 9 / 6;

	.school-photo {
		object-fit: cover;
	}
}

.info_rows_container {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	align-items: flex-start;
	grid-area: info;

	& > p {
		font-weight: 500;
	}
}

.info_row {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;

	p {
		font-weight: 500;
	}
}
