<div class="school_years_container">
	<h2>School years:</h2>

	<td-items-list *ngIf="years" [dataSource]="years" [itemProps]="years_columns">
		<p *tdItemTitle="let school_year">
			{{ school_year.start_date | date : "YYYY" }} -
			{{ school_year.end_date | date : "YYYY" }}
			{{ school_year.active ? "*" : "" }}
		</p>
		<p *tdItemDescription="let school_year">
			{{ school_year.start_date | date : "shortDate" }} -
			{{ school_year.end_date | date : "shortDate" }}
		</p>
		<mat-action-row *tdItemContent="let school_year">
			<button
				mat-stroked-button
				[routerLink]="['../../edit/school-year', school_year.id]"
			>
				Edit
			</button>
			<button
				mat-stroked-button
				*ngIf="!school_year.active"
				(click)="Supersede(school_year.id)"
			>
				Supersede
			</button>
			<button mat-stroked-button (click)="DeleteYear(school_year.id)">
				Delete
			</button>
		</mat-action-row>
	</td-items-list>

	<a
		class="add_school_year"
		mat-stroked-button
		routerLink="../../new/school-year"
	>
		<mat-icon>add</mat-icon>
	</a>
</div>
