:host {
	padding: 0.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.narrow_control {
	width: min-content;
	max-width: 50px;
}

.short_control {
	height: 56px;
}

.responsive_control {
	width: auto;
	max-width: 260px;

	@media screen and (max-width: 768px) {
		max-width: 220px;
	}

	@media screen and (max-width: 640px) {
		max-width: 200px;
	}

	@media screen and (max-width: 320px) {
		max-width: 160px;
	}
}

.bells_schedule_overview {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.timetable_creator {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	gap: 1.5rem;
	margin: 0.75rem 0.25rem;

	@media screen and (max-width: 620px) {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}
}

.weekday {
	width: auto;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
	gap: 0.5rem;
	border: 1px solid var(--border-color);
	border-radius: 0.375rem;
}

.weekday_lessons_container {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 0.125rem;

	mat-expansion-panel {
		border: solid 1px var(--border-color);
		box-shadow: none;
	}
}

.add_lesson {
	width: 100%;
}

.lesson {
	display: grid;
	grid-template-areas: "index main controls";
	grid-template-columns: auto 1fr;
	grid-auto-flow: row;
	column-gap: 0.25rem;
	row-gap: 1rem;
	z-index: 10;

	&_index {
		grid-area: index;
		justify-self: flex-end;
		align-self: flex-start;
		padding: 0.5rem 0;
	}

	&_controls {
		grid-area: controls;
		justify-self: flex-start;
		align-self: center;
	}

	&_index_field {
		max-width: 75px;
		margin: 0.5rem;
	}

	&_form {
		grid-area: main;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		max-width: 100%;
		padding: 0.5rem 0;

		&::-webkit-scrollbar {
			display: none;
		}

		scrollbar-width: none;

		&_row {
			max-width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.325rem;
			justify-content: center;
		}
	}

	@media screen and (max-width: 300px) {
		grid-template-areas:
			"index controls"
			"main main";

		&_index {
			justify-self: flex-start;
			align-self: center;
			max-height: 45px;
		}

		&_controls {
			justify-self: flex-end;
			align-self: center;
		}
	}
}
