<form [formGroup]="baseForm" (ngSubmit)="SubmitTimetable()">
	<div class="form_title">
		<h1>Fill the timetable</h1>
		<p>
			Fill the timetable to grade students, give them homework and plan your
			lesson topics.
		</p>
	</div>

	<td-item-select-autocomplete
		class="responsive_control"
		[config]="quarterSelectConfig"
	>
	</td-item-select-autocomplete>

	<div class="bells_schedule_overview">
		<td-item-select-autocomplete
			class="responsive_control"
			[config]="bellsScheduleSelectConfig"
		>
		</td-item-select-autocomplete>

		<!-- TODO: bring back td-overview-dialog or figure out another way to do things -->
		<!--		<button-->
		<!--			type="button"-->
		<!--			mat-icon-button-->
		<!--			matTooltip="Overview the chosen bells schedule"-->
		<!--			(click)="dialog.open()"-->
		<!--		>-->
		<!--			<mat-icon>info</mat-icon>-->
		<!--		</button>-->

		<!--		<td-overview-dialog-->
		<!--			[context]="{ $implicit: baseForm.getRawValue().bells_schedule }"-->
		<!--			#dialog-->
		<!--		>-->
		<!--			<ng-container *tdOverviewDialogContent="let schedule">-->
		<!--				<div-->
		<!--					style="-->
		<!--						display: flex;-->
		<!--						flex-direction: column;-->
		<!--						gap: 0.25rem;-->
		<!--						margin: 0.25rem;-->
		<!--					"-->
		<!--				>-->
		<!--					<p *ngIf="!schedule; else exists">-->
		<!--						Choose a bells schedule to get detailed information.-->
		<!--					</p>-->
		<!--					<ng-template #exists>-->
		<!--						<h2-->
		<!--							style="-->
		<!--								font-weight: 600;-->
		<!--								font-family: Inter, sans-serif;-->
		<!--								color: var(&#45;&#45;app-text);-->
		<!--							"-->
		<!--						>-->
		<!--							{{ schedule.name }}:-->
		<!--						</h2>-->
		<!--						<ul style="margin: 0">-->
		<!--							<li *ngFor="let l of schedule.schedule">-->
		<!--								{{ l.lesson_index }}. {{ l.start_time | time }} &dash;-->
		<!--								{{ l.end_time | time }}-->
		<!--							</li>-->
		<!--						</ul>-->
		<!--					</ng-template>-->
		<!--				</div>-->
		<!--			</ng-container>-->
		<!--		</td-overview-dialog>-->
	</div>

	<div class="timetable_creator">
		<div
			*ngFor="let weekday of weekdays; let weekdayIndex = index"
			class="weekday"
		>
			<h3>{{ weekday }}</h3>

			<mat-accordion class="weekday_lessons_container">
				<mat-expansion-panel
					*ngFor="
						let lessonForm of GetWeekdayLessons(weekdayIndex);
						let lessonIndex = index;
						let last = last
					"
					[expanded]="last"
				>
					<mat-expansion-panel-header>
						<mat-panel-title>
							{{ GetLessonTitle(lessonForm.getRawValue()) }}
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="lesson" [formGroup]="lessonForm">
						<div class="lesson_index">
							<mat-form-field class="narrow_control">
								<mat-label>No.</mat-label>
								<input matInput type="number" min="1" formControlName="index" />
							</mat-form-field>
						</div>

						<form class="lesson_form">
							<div class="lesson_form_row">
								<td-item-select-autocomplete
									class="responsive_control"
									*ngIf="lessonConfig"
									[config]="lessonConfig"
								></td-item-select-autocomplete>

								<td-item-select-autocomplete
									class="responsive_control"
									*ngIf="subgroupConfig"
									[config]="subgroupConfig"
								></td-item-select-autocomplete>
							</div>
							<div class="lesson_form_row">
								<mat-form-field class="responsive_control short_control">
									<mat-label>Classroom</mat-label>
									<input matInput formControlName="classroom" type="text" />
								</mat-form-field>

								<td-item-select-autocomplete
									class="responsive_control"
									*ngIf="teacherConfig"
									[config]="teacherConfig"
								></td-item-select-autocomplete>
							</div>
						</form>

						<div class="lesson_controls">
							<button
								mat-icon-button
								type="button"
								(click)="RemoveLesson(weekdayIndex, lessonIndex)"
							>
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<button
				class="add_lesson"
				mat-stroked-button
				type="button"
				(click)="AddLesson(weekdayIndex)"
				[disabled]="baseForm.invalid"
				matTooltip="Add a new standalone lesson."
			>
				<mat-icon>add</mat-icon>
				Lesson
			</button>

			<button
				class="add_lesson"
				mat-stroked-button
				type="button"
				(click)="AddSubgroup(weekdayIndex)"
				[disabled]="baseForm.invalid"
				matTooltip="Add a new subgroup to an existing lesson index."
			>
				<mat-icon>add</mat-icon>
				Subgroup
			</button>
		</div>
	</div>

	<button
		mat-stroked-button
		[disabled]="baseForm.invalid || !_ValidateTimetable()"
	>
		Save timetable
	</button>
</form>
