<!-- Sidebar drawer toggle -->
<button *ngIf="!sidenavOpened" mat-stroked-button (click)="drawer.toggle()">
	<mat-icon>menu</mat-icon>
	Menu
</button>

<mat-sidenav-container class="mgmt_wrapper">
	<mat-sidenav
		class="td-app-background"
		#drawer
		[mode]="sidenavMode"
		[opened]="sidenavOpened"
	>
		<div class="sidenav_container" *ngIf="links">
			<h3>Manage:</h3>
			<a
				*ngFor="let link of links"
				mat-stroked-button
				routerLinkActive="active"
				[routerLink]="link.link"
				(click)="!sidenavOpened && drawer.close()"
				>{{ link.label }}</a
			>
		</div>
	</mat-sidenav>
	<mat-sidenav-content class="mgmt_component_wrapper">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
