:host {
	display: flex;
	flex-direction: column;
	flex: 1;
}

button {
	margin: 0.5rem 0.75rem;
	width: fit-content;
}

.mgmt_wrapper {
	display: flex;
	flex: 1;
	border-right: solid 1px rgba(0, 0, 0, 0.12);
}

.mgmt_component_wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.sidenav_container {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	padding: 0.75rem;

	a {
		opacity: 0.65;
		transition: all 200ms ease-in-out;

		&.active,
		&:hover {
			opacity: 1;
			background-color: var(--app-background-attention);
		}
	}
}
