<div class="popover_container" [formGroup]="timetableOptionsForm">
	<p>
		<b>{{ timetable_entry?.form_lesson?.lesson?.name }}, </b>
		<em>{{ TD.GetLessonDate(timetable_entry) }}</em>
	</p>

	<mat-form-field>
		<mat-label>Lesson topic</mat-label>
		<input
			matInput
			formControlName="lesson_topic"
			(focusin)="TriggerChanges()"
			(focusout)="TriggerChanges()"
		/>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Homework</mat-label>
		<input
			matInput
			formControlName="homework"
			(focusin)="TriggerChanges()"
			(focusout)="TriggerChanges()"
		/>
	</mat-form-field>

	<button mat-stroked-button (click)="Hide()">OK</button>
</div>
