<div class="new_user_form">
	<div class="form_title">
		<h1>Create a user</h1>
		<p>
			Pre register a user to generate an invitational code. The user will be
			able to complete the registration process on their own afterwards.
		</p>
	</div>

	<form [formGroup]="userForm" (ngSubmit)="Create()">
		<mat-form-field>
			<mat-label>Last name</mat-label>
			<input formControlName="last_name" matInput />
			<mat-error>Last name is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>First name</mat-label>
			<input formControlName="first_name" matInput />
			<mat-error>First name is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Patronymic</mat-label>
			<input formControlName="patronymic" matInput />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Role</mat-label>
			<mat-select formControlName="role">
				<mat-option
					*ngFor="let role of TD.Types.UserRole | enum"
					[value]="role.v"
				>
					{{ role.k | titlecase }}
				</mat-option>
			</mat-select>
			<mat-error>Role is required</mat-error>
		</mat-form-field>

		<td-stay-on-page></td-stay-on-page>

		<mat-error *ngIf="creationError">{{ creationError }}</mat-error>

		<button type="submit" [disabled]="userForm.invalid" mat-stroked-button>
			Create
		</button>
	</form>
</div>
