<div class="new_user_form">
	<div class="form_title">
		<h1>Register in TvoyDnevnik</h1>
		<p>
			To get access to timetables, diary and school insights, register in
			TvoyDnevnik with the invitational code you received from your supervisor.
		</p>
	</div>

	<form [formGroup]="registrationForm" (ngSubmit)="register()">
		<mat-form-field>
			<mat-label>Invitational code</mat-label>
			<input formControlName="code" matInput />
			<mat-error>Invitational code is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Username</mat-label>
			<input formControlName="username" autocomplete="username" matInput />
			<mat-error>Username is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Email</mat-label>
			<input formControlName="email" autocomplete="email" matInput />
			<mat-error>Should be valid email</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				[type]="showPassword ? 'text' : 'password'"
				formControlName="password"
				autocomplete="new-password"
				matInput
			/>

			<button
				type="button"
				mat-icon-button
				matSuffix
				(click)="showPassword = !showPassword"
				aria-label="Change password visibility"
				[attr.aria-pressed]="showPassword"
			>
				<mat-icon>{{
					showPassword ? "visibility" : "visibility_off"
				}}</mat-icon>
			</button>
			<mat-error>Password is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Password repeat</mat-label>
			<input
				type="password"
				formControlName="password_repeat"
				autocomplete="new-password"
				matInput
			/>
			<mat-error>Repeat password one more time</mat-error>
		</mat-form-field>

		<mat-error
			*ngIf="registrationForm.errors && registrationForm.errors['mismatch']"
		>
			Passwords don't match
		</mat-error>
		<mat-error *ngIf="registrationError">{{ registrationError }}</mat-error>

		<button
			type="submit"
			[disabled]="registrationForm.invalid"
			mat-stroked-button
		>
			Register
		</button>
	</form>
</div>
