<div #menu class="menu" [ngClass]="{ open: IsOpen(), close: IsClosed() }">
	<div class="menu_container td-app-background" role="menu" cdkTrapFocus>
		<div class="top">
			<h2 *ngIf="usersService.User | async as user">
				Hello, {{ user.first_name }}!
			</h2>

			<a
				#first
				mat-stroked-button
				routerLink="/home"
				routerLinkActive="active"
				role="menuitem"
			>
				Home
			</a>

			<div *ngFor="let group of layout" class="menu_group_container">
				<td-menu-group-header [title]="group.title"></td-menu-group-header>
				<ng-container *ngFor="let link of group.links">
					<a
						*ngIf="ValidateRoles(link.minimal_role) | async"
						mat-stroked-button
						[routerLink]="link.url"
						routerLinkActive="active"
						role="menuitem"
					>
						{{ link.title }}
					</a>
				</ng-container>
			</div>
		</div>

		<div class="bottom">
			<div class="menu_group_container">
				<ng-container *ngIf="!(authService.IsAuth() | async); else loggedIn">
					<a
						mat-stroked-button
						routerLink="/login"
						routerLinkActive="active"
						role="menuitem"
					>
						Login
					</a>
					<a
						mat-stroked-button
						routerLink="/register"
						routerLinkActive="active"
						role="menuitem"
						>Register</a
					>
				</ng-container>
				<ng-template #loggedIn>
					<a
						mat-stroked-button
						routerLink="/profile"
						routerLinkActive="active"
						role="menuitem"
					>
						Profile
					</a>
					<button
						mat-stroked-button
						(click)="authService.Logout().subscribe()"
						role="menuitem"
					>
						Logout
					</button>
				</ng-template>
			</div>
		</div>
	</div>
</div>
