:host {
	width: 100%;
	height: 100%;
}

@keyframes fade-in {
	from {
		background-color: rgb(var(--app-text-rgb), 0);
		display: none;
	}

	to {
		background-color: rgb(var(--app-text-rgb), 0.45);
		display: flex;
	}
}

@keyframes slide-in {
	from {
		right: -100%;
		display: none;
	}

	to {
		right: 0;
		display: flex;
	}
}

.menu {
	--padding: 3rem;
	position: fixed;
	top: 4.5rem;
	right: 0;
	bottom: 0;
	width: 100vw;
	z-index: 49;
	justify-content: flex-end;
	background-color: rgb(var(--app-text-rgb), 0.45);

	&.open {
		display: flex;
		animation: fade-in 150ms ease-in-out;

		& > .menu_container {
			animation: slide-in 250ms cubic-bezier(0.77, 0, 0.18, 1);
		}
	}

	&.close {
		display: none;
	}

	&_container {
		//flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.5rem;
		padding: var(--padding);
		width: fit-content;

		a[mat-stroked-button] {
			opacity: 0.65;
			transition: all 200ms ease-in-out;

			&.active,
			&:hover {
				opacity: 1;
				background-color: var(--app-background-attention);
			}
		}

		& > * {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: auto;
		}

		.top {
			overflow: auto;
			height: 100%;
			max-height: 100%;
		}

		.bottom {
			height: fit-content;
			max-height: 100%;
		}
	}
}

.menu_group_container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
