<div class="edit_schedule_container">
	<div class="form_title">
		<h1>Edit bells schedule</h1>
		<p>
			Edit bells schedule to change schedule name or lesson start and end times.
		</p>
	</div>

	<form class="base_form" [formGroup]="formGroup" (ngSubmit)="EditSchedule()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" />
		</mat-form-field>

		<div class="schedule_container">
			<ul>
				<li
					*ngFor="
						let lesson of formGroup.controls.schedule.controls;
						let i = index
					"
				>
					<form class="lesson_form" [formGroup]="lesson">
						<mat-form-field class="lesson_form_index">
							<mat-label>No</mat-label>
							<input matInput formControlName="lesson_index" />
						</mat-form-field>

						<span class="lesson_form_main">
							<mat-form-field>
								<mat-label>Start time</mat-label>
								<input type="time" formControlName="start_time" matInput />
							</mat-form-field>

							<mat-form-field>
								<mat-label>End time</mat-label>
								<input type="time" formControlName="end_time" matInput />
							</mat-form-field>
						</span>

						<button
							type="button"
							class="lesson_form_delete"
							mat-icon-button
							(click)="DeleteLesson(i)"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</form>
				</li>
			</ul>

			<button type="button" mat-stroked-button (click)="AddLesson()">
				<mat-icon>add</mat-icon>
				Lesson
			</button>
		</div>

		<button type="submit" [disabled]="formGroup.invalid" mat-stroked-button>
			Edit
		</button>
	</form>
</div>
