<div class="new_form_container">
	<div class="form_title">
		<h1>Form creation wizard</h1>
		<p>Create a form to fill timetable and grade students.</p>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="CreateForm()">
		<mat-form-field>
			<mat-label>Grade</mat-label>
			<input type="number" matInput formControlName="grade" />
			<mat-error>Grade is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Letter</mat-label>
			<input matInput formControlName="letter" />
			<mat-error>Letter is required</mat-error>
		</mat-form-field>

		<td-item-select-autocomplete [config]="masterSelectConfig">
		</td-item-select-autocomplete>

		<mat-checkbox formControlName="graduated">Graduated</mat-checkbox>

		<td-chips-select-autocomplete [config]="studentsSelectConfig">
		</td-chips-select-autocomplete>

		<button type="submit" [disabled]="formGroup.invalid" mat-stroked-button>
			Create
		</button>
	</form>
</div>
