<div class="lessons_container">
	<h2>Lessons:</h2>

	<td-items-list
		*ngIf="lessons"
		[dataSource]="lessons"
		[itemProps]="lesson_columns"
	>
		<p *tdItemTitle="let lesson">
			{{ lesson.name }}
		</p>
		<mat-action-row *tdItemContent="let lesson">
			<a mat-stroked-button [routerLink]="['../../edit/lesson', lesson.id]">
				Edit
			</a>
			<button mat-stroked-button (click)="DeleteLesson(lesson.id)">
				Delete
			</button>
		</mat-action-row>
	</td-items-list>

	<a class="add_lesson" mat-stroked-button routerLink="../../new/lesson">
		<mat-icon>add</mat-icon>
	</a>
</div>
