<div *ngIf="student" class="student_container">
	<div class="image">
		<!-- should extend users to have pictures -->
		<img
			ngSrc="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
			fill
			alt="Student's latest picture"
			priority
		/>
	</div>
	<div class="general">
		<h2>{{ student.user | userDisplayName }}</h2>

		<mat-divider></mat-divider>

		<ng-container *ngIf="student.form">
			<span class="general_info_row">
				<p class="title">Student of</p>
				<a class="content" [routerLink]="['../../form', student.form.id]">
					{{ student.form | formDisplayName }}
				</a>
			</span>

			<span
				*ngIf="student.form && student.form.master"
				class="general_info_row"
			>
				<p class="title">Form master:</p>
				<a
					class="content"
					[routerLink]="['../../teacher', student.form.master.id]"
				>
					{{ student.form.master.user | userDisplayName }}
				</a>
			</span>
		</ng-container>
	</div>
	<div class="details">
		<mat-tab-group
			mat-stretch-tabs="false"
			mat-align-tabs="left"
			animationDuration="0"
			preserveContent
		>
			<mat-tab label="Timetable">
				<app-student-timetable-tab
					[student]="student"
				></app-student-timetable-tab>
			</mat-tab>

			<mat-tab *ngIf="CheckDiaryAccess() | async" label="Diary">
				<app-student-diary-tab [student]="student"></app-student-diary-tab>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
