:host {
	padding: 1rem;
}

.student_container {
	display: grid;
	grid-template-areas:
		"image general"
		"empty details";
	grid-template-columns: 2fr 7fr;
	grid-auto-rows: auto;
	gap: 1rem;

	.image {
		position: relative;

		max-width: 100%;
		width: 100%;
		aspect-ratio: 1;

		display: flex;
		justify-content: center;
		grid-area: image;
	}

	.general {
		grid-area: general;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		height: 100%;

		h2 {
			margin: 0;
			padding: 0.5rem 1rem;
		}

		.general_info_row {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.25rem;

			.title {
				font-weight: 500;
			}

			a.content {
				color: var(--app-link);
			}
		}
	}

	.details {
		grid-area: details;
	}

	@media screen and (max-width: 640px) {
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		grid-template-areas:
			"image"
			"general"
			"details";
	}
}
