.edit_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.75rem;
	padding: 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		.mat-mdc-form-field-error {
			text-align: center;
		}
	}
}
