<div class="edit_container">
	<div class="form_title">
		<h1>Form subgroup editing wizard</h1>
		<p>Edit a form subgroup to change student list or subgroup name.</p>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="EditSubgroup()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" />
		</mat-form-field>

		<td-chips-select-autocomplete
			*ngIf="studentsSelectConfig"
			[config]="studentsSelectConfig"
		>
		</td-chips-select-autocomplete>

		<button
			type="submit"
			[disabled]="formGroup.invalid || !formGroup.dirty"
			mat-stroked-button
		>
			Edit
		</button>
	</form>
</div>
