<mat-tab-group preserveContent animationDuration="0">
	<mat-tab label="Basic school year editor">
		<app-basic-edit-school-year></app-basic-edit-school-year>
	</mat-tab>
	<mat-tab label="Edit school year wizard">
		<app-edit-school-year-wizard></app-edit-school-year-wizard>
	</mat-tab>
</mat-tab-group>
