.container {
	display: flex;
	flex-direction: row;
	gap: 0.375rem;
	align-items: center;
	justify-content: center;

	.dash {
		background: #121212;
		height: 1px;
		border: none;

		&.prefix {
			width: 15px;
		}

		&.postfix {
			width: 100%;
		}
	}

	.title {
		font-weight: 500;
	}
}
