<div class="form_subgroups_container">
	<h2>Form subgroups:</h2>

	<td-items-list
		*ngIf="subgroups"
		[dataSource]="subgroups"
		[itemProps]="subgroup_columns"
	>
		<p *tdItemTitle="let subgroup">{{ subgroup.name }}</p>
		<p *tdItemDescription="let subgroup">
			<ng-container *ngIf="subgroup.form as form">
				{{ form.grade }} "{{ form.letter }}"
			</ng-container>
		</p>
		<mat-action-row *tdItemContent="let form">
			<a
				mat-stroked-button
				[routerLink]="['../../edit/form-subgroup', form.id]"
			>
				Edit
			</a>
			<button mat-stroked-button (click)="DeleteSubgroup(form.id)">
				Delete
			</button>
		</mat-action-row>
	</td-items-list>

	<a
		class="add_subgroup"
		mat-stroked-button
		routerLink="../../new/form-subgroup"
	>
		<mat-icon>add</mat-icon>
	</a>
</div>
