<div class="new_form_subgroup_container">
	<div class="form_title">
		<h1>Form subgroup creation wizard</h1>
		<p>
			Create a form subgroup to divide students into smaller subgroups and
			assign lessons to each subgroup individually.
		</p>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="CreateSubgroup()">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" />
			<mat-error>Name is required</mat-error>
		</mat-form-field>

		<td-item-select-autocomplete
			[config]="formSelectConfig"
			(itemChosen)="FormSelected($event)"
		>
		</td-item-select-autocomplete>

		<td-chips-select-autocomplete [config]="studentsSelectConfig">
		</td-chips-select-autocomplete>

		<button type="submit" [disabled]="formGroup.invalid" mat-stroked-button>
			Create
		</button>
	</form>
</div>
