<div class="forms_container">
	<h2>Forms:</h2>

	<td-items-list *ngIf="forms" [dataSource]="forms" [itemProps]="form_columns">
		<p *tdItemTitle="let form">{{ form.grade }} "{{ form.letter }}"</p>
		<p *tdItemDescription="let form">
			<ng-container *ngIf="form.master.user as master">
				{{ master.last_name }} {{ master.first_name }}
				{{ master.patronymic }}
			</ng-container>
		</p>
		<mat-action-row *tdItemContent="let form">
			<a mat-stroked-button [routerLink]="['../../edit/form', form.id]">Edit</a>
			<button mat-stroked-button (click)="DeleteForm(form.id)">Delete</button>
		</mat-action-row>
	</td-items-list>

	<a class="add_form" mat-stroked-button routerLink="../../new/form">
		<mat-icon>add</mat-icon>
	</a>
</div>
