<div class="edit_user_form">
	<div class="form_title">
		<h1>Edit a user</h1>
		<p>Fix a typo in user's name or change a role.</p>
	</div>

	<form [formGroup]="userForm" (ngSubmit)="Update()">
		<mat-form-field>
			<mat-label>Last name</mat-label>
			<input formControlName="last_name" matInput />
			<mat-error>Last name is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>First name</mat-label>
			<input formControlName="first_name" matInput />
			<mat-error>First name is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Patronymic</mat-label>
			<input formControlName="patronymic" matInput />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Role</mat-label>
			<mat-select formControlName="role">
				<mat-option
					*ngFor="let role of TD.Types.UserRole | enum"
					[value]="role.v"
				>
					{{ role.k | titlecase }}
				</mat-option>
			</mat-select>
			<mat-error>Role is required</mat-error>
		</mat-form-field>

		<button type="submit" [disabled]="userForm.invalid" mat-stroked-button>
			Update
		</button>
	</form>
</div>
