<div *ngIf="teacher" class="teacher_container">
	<div class="image">
		<!-- should extend users to have pictures -->
		<img
			ngSrc="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
			fill
			alt="Teacher's latest picture"
			priority
		/>
	</div>
	<div class="general">
		<h2>{{ teacher.user | userDisplayName }}</h2>

		<mat-divider></mat-divider>

		<span *ngIf="teacher.master_of as form" class="general_info_row">
			<p class="title">
				Master of
				<a [routerLink]="['../../form', form.id]" class="content">{{
					form | formDisplayName
				}}</a>
			</p>
		</span>

		<ng-container *ngIf="teacher.user?.personal_info as personal_info">
			<span *ngIf="personal_info.about" class="general_info_row">
				<p class="title">Bio:</p>
				<p class="content">{{ personal_info.about }}</p>
			</span>

			<span *ngIf="personal_info.birthday" class="general_info_row">
				<p class="title">Birthday:</p>
				<p class="content">{{ personal_info.birthday | date }}</p>
			</span>
		</ng-container>
	</div>
	<div class="details">
		<mat-tab-group
			mat-stretch-tabs="false"
			mat-align-tabs="left"
			animationDuration="0"
			preserveContent
		>
			<mat-tab label="Timetable">
				<app-teacher-timetable-tab
					[teacher]="teacher"
				></app-teacher-timetable-tab>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
