<div>
	<form [formGroup]="schoolInfoForm" (ngSubmit)="UpdateSchool()">
		<h2>General:</h2>
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Address</mat-label>
			<input matInput formControlName="address" />
		</mat-form-field>

		<td-item-select-autocomplete
			*ngIf="headmasterSelectConfig"
			[config]="headmasterSelectConfig"
		>
		</td-item-select-autocomplete>

		<form [formGroup]="schoolInfoForm.controls.contacts">
			<h2>Contacts:</h2>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" />
			</mat-form-field>
		</form>

		<button
			mat-stroked-button
			type="submit"
			[disabled]="schoolInfoForm.invalid"
		>
			Save
		</button>
	</form>
</div>
