<div class="quarters_container">
	<h2>Quarters:</h2>

	<mat-form-field>
		<mat-label>School year</mat-label>
		<mat-select
			[formControl]="year_selector"
			(selectionChange)="OnYearSelected($event)"
		>
			<mat-option>None</mat-option>
			<mat-option *ngFor="let year of years" [value]="year.id">
				{{ year.id }}. {{ year.start_date | date : "mediumDate" }} -
				{{ year.end_date | date : "mediumDate" }}
			</mat-option>
		</mat-select>
		<mat-hint>Select school year to filter quarters by</mat-hint>
	</mat-form-field>

	<td-items-list
		*ngIf="quarters"
		[dataSource]="quarters"
		[itemProps]="quarter_columns"
	>
		<p *tdItemTitle="let quarter">
			<ng-container *ngIf="quarter.school_year as y">
				{{ quarter.name }} ({{ y.start_date | date : "YYYY" }} -
				{{ y.end_date | date : "YYYY" }})
			</ng-container>
		</p>
		<mat-action-row *tdItemContent="let quarter">
			<ng-container *ngIf="!quarter.weeks || quarter.weeks.length === 0">
				<button mat-stroked-button (click)="GenerateWeeks(quarter.id)">
					Generate weeks
				</button>
			</ng-container>
			<button mat-stroked-button (click)="DeleteQuarter(quarter.id)">
				Delete
			</button>
		</mat-action-row>
	</td-items-list>

	<a class="add_school_year" mat-stroked-button routerLink="../../new/quarter">
		<mat-icon>add</mat-icon>
	</a>
</div>
