.schedule_container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.schedule {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	p {
		font-weight: 500;
	}

	ul {
		margin: 0;
	}
}

.add_schedule {
	margin: 0.25rem 0;
}
