<div class="schedule_container">
	<h2>Bell schedules:</h2>

	<td-items-list *ngIf="schedules" [dataSource]="schedules">
		<p *tdItemTitle="let schedule">
			{{ schedule.name }}
		</p>
		<div class="schedule" *tdItemContent="let schedule">
			<p>Lessons schedule:</p>
			<ul>
				<li *ngFor="let lesson of schedule.schedule">
					{{ lesson.index }}. {{ lesson.start_time | time }} &mdash;
					{{ lesson.end_time | time }}
				</li>
			</ul>
		</div>
		<mat-action-row *tdItemContent="let schedule">
			<a
				[routerLink]="['../../edit/bells-schedule', schedule.id]"
				mat-stroked-button
			>
				Edit
			</a>
			<button mat-stroked-button (click)="DeleteSchedule(schedule.name)">
				Delete
			</button>
		</mat-action-row>
	</td-items-list>

	<a
		class="add_schedule"
		mat-stroked-button
		routerLink="../../new/bells-schedule"
	>
		<mat-icon>add</mat-icon>
	</a>
</div>
