.students_tab {
	padding: 1rem 0;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(10, min-content);
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	flex-wrap: wrap;

	.student_block {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		align-items: center;
		padding: 0.375rem;
		background: rgb(var(--border-color-rgb), 0.35);
		border: solid 1px var(--border-color);
		border-radius: 0.75rem;

		.avatar {
			display: flex;
			height: min-content;

			img {
				border-radius: 0.375rem;
				object-fit: cover;
				aspect-ratio: 1;
				max-width: 36px;
				max-height: 100%;
				height: min-content;
			}
		}
	}

	@media screen and (max-width: 640px) {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}
}
