<div *ngIf="form" class="students_tab">
	<a
		*ngFor="let student of form.students"
		[routerLink]="['../../student', student.id]"
		class="student_block"
	>
		<div class="avatar">
			<img
				ngSrc="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
				width="512"
				height="512"
				alt="Student's latest avatar"
				priority
			/>
		</div>
		<div class="name">
			<p>
				{{ student.user | userDisplayName }}
			</p>
		</div>
	</a>
</div>
