@import "@angular/cdk/overlay-prebuilt.css";

@import "theme";

// Tippy CSS
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css" only screen and
	(prefers-color-scheme: light);
@import "tippy.js/themes/material.css";

html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: Inter, sans-serif;
}

// Link style reset
a {
	text-decoration: none;
	color: unset;
}

p {
	margin-block: 0.125rem;
}

h2 {
	margin: 0.25rem 0.5rem 0.75rem 0.5rem;
}

h3 {
	margin: 0.25rem 0.5rem;
}

ul {
	list-style: none;
	padding-left: 0;
}

// Common styles
.form_title {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 48ch;
	gap: 0.5rem;
	margin-block: 1rem;

	* {
		margin: 0;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 500;
	}
}

mat-form-field {
	max-width: 100%;
}
