/* Light theme users */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css" only screen and
	(prefers-color-scheme: light);

/* Dark theme users */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css" only screen and
	(prefers-color-scheme: dark);

:root {
	--app-background: #242424;
	--app-background-rgb: 36, 36, 36;
	--app-background-attention: #343434;
	--app-background-attention-rgb: 52, 52, 52;
	--app-text: #c8c8c8;
	--app-text-rgb: 200, 200, 200;
	--border-color: #909090;
	--border-color-rgb: 160, 160, 160;
	--app-link: #3f4895;
}

.td-app-background {
	color: var(--app-text);
	background: var(--app-background);
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--app-background: #fff;
		--app-background-rgb: 255, 255, 255;
		--app-background-attention: #e0e0e0;
		--app-background-attention-rgb: 224, 224, 224;
		--app-text: #121212;
		--app-text-rgb: 18, 18, 18;
		--border-color: #dedede;
		--border-color-rgb: 222, 222, 222;
		--app-link: #3f4895;
	}
}
