<div class="edit_school_year_form">
	<div class="form_title">
		<h1>Edit school year wizard</h1>
		<p>
			Edit the whole school year at once. Update school year, quarters and
			quarter weeks from a single page.
		</p>
	</div>

	<div>
		<h2>School year:</h2>
		<form [formGroup]="schoolYearForm">
			<mat-form-field>
				<mat-label>Start date</mat-label>
				<input
					formControlName="start_date"
					matInput
					[matDatepicker]="start_date"
				/>
				<mat-datepicker-toggle
					matIconSuffix
					[for]="start_date"
				></mat-datepicker-toggle>
				<mat-datepicker #start_date></mat-datepicker>
				<mat-error>Start date is required</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>End date</mat-label>
				<input formControlName="end_date" matInput [matDatepicker]="end_date" />
				<mat-datepicker-toggle
					matIconSuffix
					[for]="end_date"
				></mat-datepicker-toggle>
				<mat-datepicker #end_date></mat-datepicker>
				<mat-error>End date is required</mat-error>
			</mat-form-field>

			<mat-radio-group formControlName="active">
				<mat-radio-button value="nothing">Nothing</mat-radio-button>
				<mat-radio-button value="set_active">Set active</mat-radio-button>
				<mat-radio-button value="supersede">Supersede</mat-radio-button>
			</mat-radio-group>
		</form>
	</div>

	<div>
		<h2>Quarters:</h2>
		<form class="quarters_form_container">
			<div
				*ngFor="let quarter of quarters | keyvalue"
				[formGroup]="quarter.value"
				class="quarter_form"
			>
				<h3>{{ quarters_map.get(quarter.key) }} quarter</h3>
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input formControlName="name" matInput />
				</mat-form-field>

				<mat-form-field>
					<mat-label>Start date</mat-label>
					<input
						formControlName="start_date"
						matInput
						[matDatepicker]="start_date"
					/>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="start_date"
					></mat-datepicker-toggle>
					<mat-datepicker #start_date></mat-datepicker>
				</mat-form-field>

				<mat-form-field>
					<mat-label>End date</mat-label>
					<input
						formControlName="end_date"
						matInput
						[matDatepicker]="end_date"
					/>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="end_date"
					></mat-datepicker-toggle>
					<mat-datepicker #end_date></mat-datepicker>
				</mat-form-field>
			</div>
		</form>
	</div>

	<button
		mat-stroked-button
		[disabled]="schoolYearForm.invalid"
		(click)="Update()"
	>
		Update
	</button>
</div>
