.edit_school_year_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem;

	h2 {
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.mat-mdc-form-field-error {
			text-align: center;
		}
	}

	.quarter_form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.quarters_form_container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;

		mat-form-field {
			height: 56px;
		}
	}
}
