.new_schedule_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.75rem;
	padding: 1rem;

	.base_form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.mat-mdc-form-field-error {
			text-align: center;
		}
	}

	.schedule_container {
		display: flex;
		flex-direction: column;
		gap: 0.375rem;
		border: solid 1px var(--border-color);
		border-radius: 0.25rem;
		padding: 0.5rem;
	}
}

.lesson_form {
	display: grid;
	grid-template-areas: "index main controls";
	grid-template-columns: min-content auto;
	column-gap: 0.5rem;

	&_index {
		grid-area: index;
		max-width: 55px;
		width: min-content;
		height: fit-content;
	}

	&_main {
		max-width: 100%;
		grid-area: main;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.5rem;

		mat-form-field {
			max-width: 100px;
		}
	}

	&_delete {
		grid-area: controls;
		margin: 0.25rem 0;
	}

	@media screen and (max-width: 360px) {
		grid-template-areas:
			"index index"
			"main main";
	}
}
