<div class="edit_form_container">
	<div class="form_title">
		<h1>Form editing wizard</h1>
		<p>Edit a form to change student list, grade or graduate a form.</p>
	</div>

	<form [formGroup]="formEditGroup" (ngSubmit)="EditForm()">
		<mat-form-field>
			<mat-label>Grade</mat-label>
			<input type="number" matInput formControlName="grade" />
			<mat-error>Grade is required</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Letter</mat-label>
			<input matInput formControlName="letter" />
			<mat-error>Letter is required</mat-error>
		</mat-form-field>

		<td-item-select-autocomplete
			*ngIf="masterSelectConfig"
			[config]="masterSelectConfig"
		>
		</td-item-select-autocomplete>

		<mat-checkbox formControlName="graduated">Graduated</mat-checkbox>

		<td-chips-select-autocomplete
			*ngIf="studentsSelectConfig"
			[config]="studentsSelectConfig"
		>
		</td-chips-select-autocomplete>

		<button
			type="submit"
			[disabled]="formEditGroup.invalid"
			mat-stroked-button
		>
			Edit
		</button>
	</form>
</div>
