.popover_container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.mark_selector_container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	overflow-x: scroll;

	mat-button-toggle-group {
		width: fit-content;
	}
}
